$rainbow-frame-map: (
  0: #f00,
  20: #ff0,
  40: #0f0,
  50: #0ff,
  60: #00f,
  80: #f0f,
  100: #f00
);

// Change text color to the rainbow spectrum (see $rainbow-frame-map)
@keyframes rainbow {
  @each $frame, $color in $rainbow-frame-map {
    #{$frame}% {
      color: $color;
    }
  }
}

// To be used as an animation for a "mail" icon rotating horizontally, each stop changes the icon
@keyframes move {
  0% { 
    transform: scale(1) rotate(0deg);
    left: 0px;
  }
  25% {
    transform: scale(2) rotate(360deg);
    left: 100px;
    content: "\f2b6";
  }
  50% { 
    transform: scale(3) rotate(720deg);
    left: 300px;
    content: "\f658";
  }
  75% {
    transform: scale(2) rotate(360deg);
    left: 100px;
    content: "\f2b6";
  }
  100% { 
    transform: scale(1) rotate(0deg);
    left: 0px;
  }
}