.footer-wrap {
  background: #3e3d32;

  footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;

    .social-media {
      a {
        font-size: 2rem;
      }
    }
  }
}

@media ( min-width: $tablet-bp ) {
  .footer-wrap {
    footer {
      width: $tablet-container-width;
    }
  }
}

@media ( min-width: $desktop-bp ) {
  .footer-wrap {
    footer {
      width: $desktop-container-width;
    }
  }
}