.header-wrap {
  background: #3e3d32;
  
  header {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    
    .logo-wrap, .nav {
      flex: 0 0 100%;
      align-items: center;
    }
    
    .logo-wrap {
      margin-bottom: 1rem;
      
      .logo {
        line-height: 1;
        margin: 0;

        a {
          @include heading-styles( 4rem, #fd971f );

          color: $heading-color;
          text-decoration: none;
        }

        & ~ em {
          font-size: 0.75rem;
        }
      }
    }
    
    .nav {
      text-align: center;
      display: flex;

      nav {
        flex: 0 0 50%;
        position: relative;

        &:before {
          content: "\f0c9";
          @extend %fa;
          font-size: 2rem;
          color: #75715e;
        }

        // Burger menu active fns
        &:hover {
          &:before {
            color: #f8f8f2;
          }

          > ul {
            display: block;
          }

          li {
            &:hover {
              > a {
                color: $anchor-hover-color;
              }

              ul {
                display: block;
              }
            }
          }
        }

        h2 {
          display: none;
        }

        // Generic UL LI A styles
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            white-space: nowrap;

            a {
              background: #75715e;
              display: block;
              padding: 0 0.5rem;
              line-height: 1.5;
              box-sizing: border-box;

              &[aria-haspopup=true] {
                &:after {
                  @extend %fa;
                  margin: 0 0 0 0.25rem;
                  content: "\f054";
                  font-size: 0.75rem;
                }
              }
            }

            ul {
              width: 100%;
            }
          }
        }

        // Burger menu passive fns
        > ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);

          li {
            position: relative;
            
            > ul {
              display: none;
              position: absolute;
              z-index: 100;
              left: 100%;
              top: 0;
            }
          }
        }
      }

      .social-media {
        flex: 0 0 50%;

        a {
          margin: 0 0.5rem;
          font-size: 2rem;
        }
      }

    }
  }
}

@media ( min-width: $tablet-bp ) {
  .header-wrap {
    header {
      width: $tablet-container-width;
      text-align: initial;
      
      .logo-wrap, .nav {
        margin: 0;
        flex: initial;
        flex-grow: 1;
        align-self: center;
      }

      .logo-wrap {
        .logo {
          a {
            font-size: 5rem;
            font-weight: bolder;
          }

          & ~ em {
            font-size: 1rem;
          }
        }
      }

      .nav {
        display: block;
        text-align: right;

        nav {
          &:before {
            display: none;
          }

          > ul {
            display: block;
            position: static;
            transform: none;

            > li {
              display: inline-block;
              margin: 0 0.25rem;

              &:last-child {
                margin-right: 0;
              }
              > a {
                background: none;
              }
            }

            li {
              ul {
                left: auto;
                right: 0;
                top: 100%;

                li {
                  a {
                    padding: 0 0.5rem;
                  }
                }
              }
            }
          }

          ul {
            li {
              a {
                padding: 0;
              }
            }
          }
        }

        .social-media {
          a {
            margin: 0;
          }
        }
      }
		}
	}
}

@media ( min-width: $desktop-bp ) {
  .header-wrap {
    header {
      width: $desktop-container-width;
    }
  }
}